{% extends 'base.html' %}

{% block title%} Contect Form {% endblock title %}
{% block content%}
{% load crispy_forms_tags %}
<div class="page-wrap">
    <h1 class="page-title">Contact Us</h1>
    <div class="card-like form-card">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.name|as_crispy_field}}
            {{form.email|as_crispy_field}}
            {{form.mobile|as_crispy_field}}
            {{form.address|as_crispy_field}}
            {{form.subject|as_crispy_field}}

            {{form.media}}

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
