{% extends 'base.html' %}
{% block title%} Blog Form {% endblock title %}

{% block content%}
{% load crispy_forms_tags %}
<div class="page-wrap">
    <h1 class="page-title">Add or Edit Your Blog</h1>
    <div class="card-like form-card">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.tittle|as_crispy_field}}
            {{form.image|as_crispy_field}}
            {{form.description|as_crispy_field}}
            {{form.created_by|as_crispy_field}}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
