{% extends 'base.html' %}
{% block title%} Profile Form {% endblock title %}
{% block content%}
{% load crispy_forms_tags %}
<div class="page-wrap">
  <div class="card-like form-card">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class="page-title">Add or Update Profile Photo</h1>

      {{form.image|as_crispy_field}}
      {{form.user|as_crispy_field}}

      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>

<script>
  
  let a = document.getElementById("id_user").value="{{request.user}}"
  let b= document.getElementById("div_id_user")
  b.style.display="none";
  
  b.display=none;
</script>
{% endblock %}
