{% extends 'loginbase.html' %}
{% block title%} Login form {% endblock title %}

{% block content%}
<div class="page-wrap">
    <div class="container">
        <div class="row blog-grid">
            {% for i in data %}
            <div class="col-lg-4">
                <div class="blog-card">
                    <a href="/login">
                        <img src="{{i.image.url}}" alt="img">
                    </a>
                    <div class="blog-body">
                        <h2 class="blog-title">{{i.tittle}}</h2>
                        <div class="blog-meta">Created by: {{i.created_by}}</div>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
