{% extends 'base.html' %}

{% block title%} Search {% endblock title %}

{% block content%}
<title>Index</title>

<style>
    .center {
        display: table;
        margin: auto;
    }

    .image {
        margin-top: 50px;
        width: 350px;
        height: 470px;
        object-fit: cover;
        border-radius: 20px;
        object-fit: cover;
        transition: 0.4s;
    }

    .image:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 30px 5px rgb(206, 15, 47);
    }
</style>

<div class="container">
    <div class="row">
        {% for i in data %}
        <div class="col-lg-4 ">

            <a href="{% url 'readmore' i.id %}">
                <img src="{{i.image.url}}" class="image center" alt="img"> <br></a>
            <h2 class="center">{{i.tittle}}</h2>
            <h4 class="center">{{i.created_by}}</h4>
            <!-- <a href="{% url 'readmore' i.id %}" class="center">Read More</a> <br> <br> -->
            <a href="{% url 'readmore' i.id %}" class="center">
                <input type="submit" value="Read More" class="btn btn-primary">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}