{% extends 'base.html' %}
{% block title%} Show Profile {% endblock title %}
{% block content%}

<div class="page-wrap">
    <h1 class="page-title">Profile</h1>

    <div class="card-like profile-card">
        <div class="profile-meta"><b>User:</b> {{user.username}}</div>
        <div class="profile-meta"><b>Email:</b> {{user.email}}</div>
        <div class="mt-4">
            {% for i in image %}
                <img src="{{i.image.url}}" alt="img">
                <div class="profile-actions">
                    <a href="{% url 'updatei' i.id %}" class="btn btn-primary">Update Photo</a>
                    <a href="{% url 'deletei' i.id %}" class="btn btn-primary">Delete Photo</a>
                    <a href="{% url 'change' %}" class="btn btn-primary">Change Password</a>
                    <a href="{% url 'password_reset' %}" class="btn btn-primary">Forgot Password</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <h1 class="page-title">Your Blog</h1>
    <div class="container">
        <div class="row blog-grid">
            {% for i in data1 %}
                <div class="col-lg-4 mb-4">
                    <div class="blog-card">
                        <a href="{% url 'readmore' i.id %}">
                            <img src="{{i.image.url}}" alt="img">
                        </a>
                        <div class="blog-body">
                            <h2 class="blog-title">{{i.tittle}}</h2>
                            <div class="blog-meta">Created by: {{i.created_by}}</div>
                            <a href="{% url 'readmore' i.id %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
